header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.activeClass {
    border-bottom: 1px solid black;
    color: black;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    list-style: none;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.42, 0.02, 0.06, 0.05) 0.1s;
}