
.shop-page .title-page {
    padding: 2rem 0;
    border-bottom: 0.1rem solid lightgray;
}

.shop-page .title-page>p,
.book-list .bl-filter,
.book-list #mainRow .card .card-body .book-title {
    font-weight: bold;
    font-size: 20px;
}
.book-author{
    font-weight: bold;
    font-size:20px;
}
.shop-page .title-page>p>span {
    font-weight: light;
    color: gray;
}

.book-list {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.book-list .bl-showing {
    color: gray;
    font-size: 26px;
}

.book-list .bl-main-filter,
.book-list #mainRow {
    margin-top: 0.5rem;
    font-size: 20px;
}

.book-list .bl-main-filter .blmf-card {
    border: 0.1rem solid ;
    border-radius: 0.25rem;
    padding: 1rem;
}

.book-list .bl-main-filter .blmf-card:not(:last-child) {
    margin-bottom: 1.25rem;
}

.book-list .bl-main-filter .blmf-card .blmfc-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.book-list .bl-main-filter .blmf-card .blmfc-list>li {
    margin-left: 1rem;
}

.book-list .bl-main-filter .blmf-card .blmfc-list>li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.book-list #mainRow .card>img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    vertical-align: middle;
}

.page-link:focus {
    box-shadow: none !important;
}

    
.filter__body {
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 24px;
}
.filter__body:hover{
    background-color: #f5f5f5;
}
.filter__body__active{
    background-color: gray;
    cursor: pointer;
    font-size: 24px;
}
